<nav class="navbar">
    <div class="logo">
      <a href="#">Logo</a>
    </div>
    
    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Inscripción</a></li>
      <li><a href="#">Certificados</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Solicitudes</a></li>
      <li><a href="#">Actividades</a></li>
      <li><a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Noticias</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  
